.Homemain{
    display: flex;
    padding: 0px 8%;
    margin-bottom: 40px;
    
}
.section__title{
    margin-bottom: 20px;
}
.half{
    width: 50%;
}
.hero__img{
    height: 200px;
}
.hero__img img{
    width: 70%;
    transform: scaleX(-1);
    margin-left: 150px;
}
.hero_section{
    background: #b5ecfa
}
.hero__section h2{
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 600;
    margin: 20px 60px;
}
.hero__section p{
    color: var(--primary-color);
    line-height: 28px;
}
.hero__section p:nth-child(1){
    font-weight: 500;
}
.buy__btn{
    border:none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: var(--primary-color);
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    margin-top: 20px;
    text-transform: uppercase;
}
.buy__btn a:hover{
    color: #fff;

}
.hero__content{
    padding-top: 45px;
}
.timmer__count{
    background-color: var(--primary-color);
    height: 300px;
    width: 100%;
    
}
.timmer__count img{
   position: relative;
    height: 220px;
}
.counter__img{
    position: absolute;
    display: inline-block;
    right: 20%;
}
@media only screen and (max-width:992px){
    .hero__content h2 {
        font-size: 1.7rem;
    }
}
@media only screen and (max-width:768px){
    .hero__content h2 {
        font-size: 1.4rem;
    }
    .hero__content p{
        font-size: 0.7rem ;
    }
    .buy__btn{
        font-size: 0.9rem;
    }
  
}
@media only screen and (max-width:576px){
    .hero__content{
        padding-top: 0;
    }
    .Homemain{
        flex-direction: column;
    }
    .half{
        width: 100%;
    }

}