.service__item{
    padding: 20px;
    background: var(--card-bg-01);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    border-radius: 5ps;
}
.service__item span i{
    font-size: 2.2rem;
    background: var(--primary-color);
    padding: 10px;
    border-radius: 50px;
    color: #fff;
    font-family: 400 !important;
}
.service__item h3{
    color: var(--primary-color);
    font-size: 0.8rem;
    font-weight: 600;
}
.service__item p{
    font-size: 0.7rem;
    margin-top:  5px;

}
.center{
    align-items: center;
    justify-content: center;
}
.services{
    
}
.service-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    
 
}
@media only screen and (min-width:1300px){
    .service-container{
       margin-top: 60px;
       padding-top: 30px;
    }

}
@media only screen and (max-width:900px){
    .service-container{
        justify-content: space-around;
        
    }
}
@media only screen and (max-width:576px){
    .service__item{
        width: 70%;
        justify-content: center;
        gap: 20px;
    }
    
}